// Colours
$off-black: #512DA8;
$off-white: #D1C4E9;
$dark-blue: #673AB7;


$primary-text: #212121;
$text-or-icon: #FFFFFF;
$accent-colour: #536DFE;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;